* {
  text-align: center;
  font-family: Helvetica;
}

a {
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  color: White;
  font-size: 70px;
  font-weight: bold;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header p {
  color: White;
  font-size: 18px;
}

.content h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.designed {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer p {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
